<!DOCTYPE html>
<html>

<head>
    <title>My session</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/general-styles.css">
</head>

<body ng-app="sessions">
    <section>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="img/logo.png" alt="Tyro">
                        </a>
                    </div>
                    <div class="dropdown navdropdown">
                        <a href="#" class="dropdown-toggle homeUserProfileBox" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="img/download.jpg" class="UserProfileImage" />
                            <p class="userProfileCont">
                                <samp class="UserProfileName">Farouk Hosny 
									<i class="fa fa-chevron-down menuCaret" aria-hidden="true"></i>
								</samp>
                                <samp class="UserProfileCrdiet">$340</samp>
                            </p>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a>
                            </li>
                            <li><a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="homeMenuNoti"><samp><i class="fa fa-bell-o" aria-hidden="true"></i>
<i class="notiNumber">8</i></samp></a>
                    <a href="#" class="homeMenuMsg"><samp><i class="fa fa-envelope-o" aria-hidden="true"></i></samp></a>


                    <div class="navBarSearch">
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for instructors topics , any thing">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search searchIcon" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div id="navbar2" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Home</a>
                            </li>
                            <li><a href="#">Find a tutor</a>
                            </li>
                            <li><a href="#">Contact us</a>
                            </li>


                        </ul>


                    </div>
                    <!--/.nav-collapse -->

                </div>

                <!--/.container-fluid -->
            </nav>
        </div>
    </section>


    <section class="mainContent">

        <div class="MainCenterDiv" ng-controller="SessionsCtrl">

            <div class="headerEventDiv">
                <span>Upcoming sessions <i class="notiNumberBig">8</i></span>
            </div>


            <div class="upcomingSessionsHome" ng-repeat=" x in upComingData">
                <div class="sessionDetailsBox">
                    <img ng-src="{{x.image}}" class="comingSessionsHomeIcon">
                    <div class="SessionDetails">
                        <h4>{{x.title}} <samp class="yellowSamp">In-person</samp></h4>
                        <p>by: <span class="sessionCreatorName">{{x.author}}</span>
                        </p>
                        <p>{{x.category}}</p>
                    </div>

                    <div class="timeSessionDiv">
                        <span>{{x.day}} <span>{{x.time}}</span> </span>
                        <img src="img/time.png" />
                    </div>

                </div>
                <p> {{x.description}} </p>
                <br>
                <p> session Details session Details ?</p>
                <a href="#" class="redButton">Cancel Session</a>
            </div>

            <div class="headerEventDiv">
                <span>Pervious Sessions </span>
            </div>

            <div>
                <div class="previousSessionsHome" ng-repeat=" x in previousData">
                    <img ng-src="{{x.image}}" class="previousSessionsHomeIcon">
                    <div class="SessionDetails">
                        <h4>{{x.title}} </h4>
                        <p>{{x.category}}</p>
                    </div>
                    <div class="timeSessionPrev">
                        <span>{{x.date}}</span>
                    </div>

                </div>
            </div>

        </div>
    </section>





    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/custom.js"></script>



</body>

</html>